<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Medicare</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/pagestyle.css">
    <script type="text/javaScript">
        <% if (typeof success !== 'undefined') { %>
            alert("<%= success %>");
        <% } %>
    </script>
</head>
<body>
    <div class="title">
        <%-include('title')%>
        <hr>
    </div>
    <main>
        <div id="content">
            <form method="get" action="/getappointment">
                <button class="box"><h1>Book Appointment</h1></button>
            </form>            
        </div>
        <div id="content">
            <form method="get" action="/my_appointments">
                <button class="box"><h1>My Appointments</h1></button>
            </form>
        </div>
    </main> 
</body>
</html>
