<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Medicare</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/pagestyle.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script type="text/javaScript">
        <% if (typeof success !== 'undefined') { %>
            alert("<%= success %>");
        <% } %>
    </script>
</head>
<body>
    <div>
        <%-include('title')%>
        
    </div>
    <div>
        <%-include('navbar')%>
    </div>
    </div>
    <div id="content">
        <form method="get" action="/docdata">
            <button class="box"><h1>Doctors Data</h1></button>
    </div>
</body>
</html>
