<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/pagestyle.css">
</head>
<body>
    <div>
        <table width="300px" height="500px" align="center">
            <tr>
                <td>
                    <form>
                        <fieldset>
                            <h1 class="frmtitle"><strong>MEDICARE</strong></h1>
                            <button id="btn" ><a class="li" href="/signup">SignUp</a></button>
                            <button id="btn" ><a class="li" href="/login">LogIn</a></button>
                        </fieldset>
                    </form> 
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
