<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Data</title>
</head>
<body>
    <h3>Insert Page</h3><br><br>
    <form method="post" action="/inst">
        Enter ID:<input type="text" name="doc_id"><br>
        Enter Name:<input type="text" name="doc_name"><br>
        Enter Designation:<input type="text" name="doc_desig"><br>
        Enter Salary:<input type="text" name="doc_sal"><br>
        Enter Department:<input type="text" name="doc_dept"><br>
        <input type="submit" name="b1" value="Insert">
    </form>
</body>
</html> 