<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn-Medicare</title>
    <link rel="stylesheet" href="/css/sgn&lgn.css">
    <script type="text/javaScript">
       <% if (typeof success !== 'undefined') { %>
            alert("<%= success %>");
        <% } %>
    </script>
</head>
<body>
    <div>
        <%-include('title')%>
        <hr>
    </div>
    <br>
    <div>
        <table width="300px" height="500px" align="center" id="loginform">
            <tr>
                <td>
                    <form action="/dashboard" method="get">  <!--To Do implement action method-->
                        
                        <fieldset>
                            <h1 class="frmtitle"><strong>Log In</strong></h1>
                            <label>E-mail</label>
                            <input type="email" name="usremail" id="usremail" required>
                            <label>Password</label>
                            <input type="password" name="usrpass" id="usrpass" required>
                            <input type="submit" value="Log In" name="lgnbtn" id="lgnbtn">
                        </fieldset>
                    </form> 
                </td>
            </tr>
        </table>
       
    </div>
</body>
</html>