<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc SignUp-Medicare</title>
    <link rel="stylesheet" href="/css/sgn&lgn.css">
</head>
<body>
        <table width="300px" height="500px" align="center" id="signupform">
            <tr>
                <td>
                    <form action="/signup_doc" method="post">
                        
                        <fieldset>
                            <h1 class="frmtitle"><strong>Sign Up</strong></h1>
                            <label>First Name</label>
                            <input type="text" name="doc_firname" id="firname"required>
                            <label>Middle Name</label>
                            <input type="text" name="doc_midname" id="midname">
                            <label>Last Name</label>
                            <input type="text" name="doc_lstname" id="lstname" required>
                            <label>Username</label>
                            <input type="text" name="doc_usrname" id="usrname" required>
                            <% if (errors && errors.username) { %>
                                <p style="color: red;"><%= errors.username %></p>
                            <% } %>
                            <label>E-mail</label>
                            <input type="email" name="doc_usremail" id="usremail" required>
                            <% if (errors && errors.email) { %>
                                <p style="color: red;"><%= errors.email %></p>
                            <% } %>
                            <label>Password</label>
                            <input type="password" name="doc_usrpass" id="usrpass">
                            <input type="submit" value="Sign Up" name="doc_sgnbtn" id="sgnbtn">
                        </fieldset>
                    </form> 
                </td>
            </tr>
        </table>
</body>
</html>
