.pagtitle{
    text-align: center;
}

form {
    width: 80vw;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    font-size: large;
}

fieldset {
    margin-top: 2.2em;
    margin-left: 2.5em;
    border-color: #000;
    
    border: 3px solid #fff;
}

.name,.contact{
    display: inline-block;
}
/* .contact{
    padding-left: 20px;
} */

label{
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
}

input{
    margin: 5px 0 0 0;
    min-width: 30em;
    min-height: 2em;
    background-color: #fff;
    border: 1px solid #000;
}

#get_appo{
    display: block;
    margin: 1em auto;
    width: 35%;
    height: 2em;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid #229799;
    min-width: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #229799;
    border-radius: 15px;
    background-color:#229799 ;
    color:white;
}

#get_appo:hover{
    cursor: pointer;
}
