body{
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
table{
    border: 2px solid black;
    text-align: center;
}
a{
    color:darkmagenta;
}